@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    overflow-y: scroll;
}

body {
    background-image: url('../../assets/background.jpeg');
}

.NavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.NavBar a {
    margin: 3px;
}

.NavBar button {
    height: 20px;
}

.NavBar {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.Links1 {
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.Links2 {
    width: 400px;
    display: flex;
    justify-content: space-between;
}